<style>
 
       body{
       padding: 0;
       margin: 0;
       line-height: 1.5;
       box-sizing: border-box;
       color:rgba(248, 248, 248, 0.938);
      
       background-size: cover;
       background-repeat: no-repeat;
       background-attachment: fixed;
 
      }

#fancy-form{
  
 background-position: center;
 height: 100vh;
}
/* container utility */
#fancy-form .container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* main div */
.form-sections{
  margin-top: 5rem;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
}

/* Form-left styling */
.Form-left h1{
  color: #fff;
  padding: 0;
  margin: 0;
}

.Form-left h4{
  padding: 0;
  margin: 0;
  color: rgb(243, 235, 235);
}
.line{
  border-bottom: 2px solid rgb(12, 168, 207);
  width: 8%;
  margin-left: 0;
}
.Form-left span{
    color:black;
    font-weight: bold;
}

.Form-left hr{
  width: 25rem;
  margin-left: 0;
  border: 1px solid rgb(53, 52, 52);
}

/* socail media icons */
.fa {
  padding: 8px;
  font-size: 18px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  /* margin: 5px 2px; */
  color: rgb(187, 182, 182);
}
.fa:hover{
  color: rgb(16, 135, 190);;
}



/* Form Right Styling */
.Form-right h1{
  color: #fff;
  padding: 0;
  margin: 0;
}

form{
  padding-top: 2rem;
}

form h5{
  padding: 0;
  margin: 0;
  color: rgb(220, 228, 228);
}
form input{
  padding:0.6rem;
  width: 27rem;
  border: none;
  /*background-color:rgba(136, 133, 133, 0.6);*/
  color:black;
  border: none;
  outline:none;
  background-color: rgba(0, 0, 0, 1,1);
  font-family:"Quiksand",sans-serif;
}

form textarea{
  padding:0.6rem;
  width: 27rem;
  border: none;
  background-color:rgba(136, 133, 133, 0.6);
  color:white;
  border: none;
  outline:none;
 }

 form button{
    width: 9rem;
    background-color: #F9522E;
    padding: 5px;
    outline: none;
    border-color: transparent;
    color: #fff;
    font-family:sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0.9rem;
    border-radius: 12px;
    cursor: pointer;
 }
 form button:hover{
  background-color: orange;
 }
</style>

